@page "/"

<PageTitle>Start</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold text-primary mb-3">Multimedialny Przewodnik po Uczelni</h1>

    <p class="lead mb-5 text-muted">
        Witaj w systemie nawigacji. Znajdź swoją drogę do sali, dziekanatu lub biblioteki.
    </p>

    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a href="spacer" class="btn btn-primary btn-lg px-4 gap-3">
            <i class="bi bi-person-walking"></i> Rozpocznij wirtualny spacer
        </a>
        <a href="trasa" class="btn btn-success btn-lg px-4 gap-3">
            <i class="bi bi-map"></i> Zaplanuj trasę (A do B)
        </a>
    </div>
</div>